.organization {
  width: 100%;
  margin-top: 0.125rem;
  position: relative;
}

.container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.part1{
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
}

.part1 svg{
    width: 16px; height: 16px; left: 100%;
    cursor: pointer;
    margin-top: 0.125rem;
    margin-left: 0.25rem;
    display: block;
    vertical-align: middle;
}

/* text */
.textContent{
    align-items: center;
    display: flex;
    position: relative;
}

.text{
    cursor: pointer;
    
    font-size: 14px;
    text-transform: unset;
    font-family: "Times New Roman", Times, serif;
    line-height: 20.5px;
    text-align: left;
    
    border-bottom-width: 1px;
    border-color: transparent;
    min-width: 20px;
}

/* outline for .text */

.text p{
    
    margin-left: 0px !important;
    height: max-content;
    margin: 0;
        color: rgb(156 163 175);
}

/* part2 */
.part2{
    align-items: center;
    position: relative;
    display: flex;

}

.cityState{
    
    font-size: 14px;
    text-transform: unset;
    font-family: "Times New Roman", Times, serif;
    line-height: 21.5px;
    
    text-align: left;
    
    border-color: transparent;
    
    border-bottom-width: 1px;
    
    min-width: 20px;
}

.cityState p{
    height: max-content;
    margin-left: 0px;
    cursor: pointer;
    color: rgb(156 163 175);
}