.resumeWorkspace{
    background-color: white;
    min-width: 800px;
    max-width: 800px;
    width: 800px;
    padding: 36px 60px;
    border-radius: 14px;
}

.resumeContent{
    margin-bottom: 2.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/* education */
.education, .projectExperience, .leadershipExperience, .customSection{
    margin-bottom: 16px;
    width: 100%;
}


.leftIcon{
    padding-right: .2em;
}

.rightIcon{
    padding-left: .2rem;
}

.container {
  width: 100%;
  margin-top: 0.125rem;
  position: relative;
}

/* custom section */
.container2{
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 3.5px;
}

.untitled1{
    cursor: pointer;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    height: fit-content;
    text-align: left;
    border-color: transparent;
    border-bottom-width: 1px;
    min-width: 20px;
}

.untitled1 p{
    margin-left: 0;
    height: max-content;
    color: rgb(156 163 175);
}

.colon{
    font-size: 14px; font-family: "Times New Roman", Times, serif; font-weight: 700;
    margin-left: 4px;
}

.untitled2{
    
    cursor: pointer;
    align-items: flex-start;
    width: 100%;
    display: flex
;
    position: relative;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: left;

    border-color: transparent;
    border-bottom-width: 1px;
    min-width: 20px;
}

.untitled2 p{
    
    margin-left: 0;
    height: max-content;
color: rgb(156 163 175);
}